<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.1.0/milligram.min.css">

<body>

<div ng-app="myApp" ng-controller="customersCtrl">
<h1>Percentual distribution</h1>
<ul>
  <li>Basic needs: {{ basic_needs_percentage }}%</li>
  <li>Tools: {{ tools_percentage }}%</li>
  <li>Random: {{ random_percentage }}%</li>
</ul>
<h1>Basic needs</h1>
<h3>Lempiras invested in basic needs: {{ basic_needs_resources }}</h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price (Lempiras)</th>
      <th>Dependency</th>
      <th>Dependency Price (Lempiras)</th>
      <!--<th>Resources left</th>-->
      <th>Will buy</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="basic_need in basic_needs">
      <td>{{ basic_need.name }}</td>
      <td>L.{{ basic_need.price }}</td>
      <td>{{ basic_need.dependency_name }}</td>
      <td>L.{{ basic_need.dependency_price }}</td>
      <!--<td>{{ basic_need.resources_left }}</td>-->
      <td>{{ basic_need.will_buy }}</td>
    </tr>
  </tbody>
</table>

<h1>Tools</h1>
<h3>Lempiras invested in tools: {{ tools_resources }}</h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price (Lempiras)</th>
      <th>Dependency</th>
      <th>Dependency Price (Lempiras)</th>
      <!--<th>Resources left</th>-->
      <th>Will buy</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="basic_need in tools">
      <td>{{ basic_need.name }}</td>
      <td>L.{{ basic_need.price }}</td>
      <td>{{ basic_need.dependency_name }}</td>
      <td>L.{{ basic_need.dependency_price }}</td>
      <!--<td>{{ basic_need.resources_left }}</td>-->
      <td>{{ basic_need.will_buy }}</td>
    </tr>
  </tbody>
</table>

<h1>Random</h1>
<h3>Lempiras invested in Random: {{ random_resources }}</h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price (Lempiras)</th>
      <th>Dependency</th>
      <th>Dependency Price (Lempiras)</th>
      <!--<th>Resources left</th>-->
      <th>Will buy</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="basic_need in random">
      <td>{{ basic_need.name }}</td>
      <td>L.{{ basic_need.price }}</td>
      <td>{{ basic_need.dependency_name }}</td>
      <td>L.{{ basic_need.dependency_price }}</td>
      <!--<td>{{ basic_need.resources_left }}</td>-->
      <td>{{ basic_need.will_buy }}</td>
    </tr>
  </tbody>
</table>

</div>


</body>
</html>

<script>

function getQueryParams(qs) {
    qs = qs.split('+').join(' ');

    var params = {},
        tokens,
        re = /[?&]?([^=]+)=([^&]*)/g;

    while (tokens = re.exec(qs)) {
        params[decodeURIComponent(tokens[1])] = decodeURIComponent(tokens[2]);
    }

    return params;
}

arr={ basic_needs:
      [ 
        {id:1, name:"Comida",price:1500},
        {id:2, name:"Vivienda",price:2500},
        {id:3, name:"Gaso",price:100},
        {id:4, name:"Comida",price:3000,dependency:1},
        {id:5, name:"Gaso",price:300,dependency:3},
        {id:6, name:"Vivienda",price:4000,dependency:2},
        {id:7, name:"Ropa",price:2000},
        {id:8, name:"Comida",price:6000,dependency:4},
        {id:9, name:"Ropa",price:5000,dependency:7},
        {id:10, name:"Vivienda",price:7000,dependency:6},
        {id:11, name:"Ropa",price:8000,dependency:9},
      ],
      tools:
      [ 
        {id:1, name:"Filamento",price:500},
        {id:2, name:"3dPrinted closet",price:1000},
        {id:3, name:"Filamento",price:1000,dependency:1},
        {id:4, name:"Silla",price:2000},
        {id:5, name:"3d Printed mesa",price:1500},
        {id:6, name:"Filamento",price:2000,dependency:3},
        {id:7, name:"Audifonos",price:500},
        {id:8, name:"Filamento",price:5000,dependency:6},
        {id:9, name:"Compu nueva",price:20000},
        {id:10, name:"Moto nueva",price:35000},
        {id:11, name:"Compu nueva",price:40000,dependency:9}
      ],
      random:
      [ 
        {id:1, name:"Spotify",price:135},
        {id:2, name:"Netflix",price:180},
        {id:3, name:"Juegos",price:100},
        {id:4, name:"Hori",price:1000},
        {id:5, name:"Viaje",price:1000},
        {id:6, name:"Juegos",price:500, dependency:3},
        {id:7, name:"Viaje",price:2000, dependency:5},
        {id:8, name:"Juegos",price:3000, dependency:6},
        {id:9, name:"Viaje",price:10000, dependency:7},
        {id:10, name:"Viaje",price:60000, dependency:9}
      ]
    }

resource = getQueryParams(document.location.search).resource;

//risk_factor=2.6835
risk_factor=resource/10000
basic_needs_multiplier= Math.log(risk_factor) / Math.log(2)+4
tools_multiplier= risk_factor*2
random_multiplier= Math.pow(2,risk_factor)-1

total_multipliers=basic_needs_multiplier+tools_multiplier+random_multiplier

basic_needs_percentage=basic_needs_multiplier/total_multipliers
tools_percentage=tools_multiplier/total_multipliers
random_percentage=random_multiplier/total_multipliers

console.log(basic_needs_percentage)
console.log(tools_percentage)
console.log(random_percentage)


initial_resources = {basic_needs:resource*basic_needs_percentage,tools:resource*tools_percentage, random:resource*random_percentage}

resources = {basic_needs:resource*basic_needs_percentage,tools:resource*tools_percentage, random:resource*random_percentage}

basic_needs = []
tools = []

populated_array={basic_needs:{},tools:{}, random:{}}

function search(id, array)
{
  for(m=0;m<array.length;m++)
  {
    if(array[m].id==id)
    {
      return array[m]
    }
  }
}

function populate_array(stack_name)
{
  stack = []
  for(i=0;i<arr[stack_name].length;i++)
  {
    current = arr[stack_name][i]
    if(search(current.dependency,arr[stack_name]))
    {
      current.dependency_name=search(current.dependency,arr[stack_name]).name
      current.dependency_price=search(current.dependency,arr[stack_name]).price
      resources[stack_name]+=current.dependency_price
      current.dependency_price="L."+current.dependency_price
    }
    resources[stack_name]-=current.price
    current.resources_left=resources[stack_name]
    if(resources[stack_name]>=0)
    {
      current.will_buy="yes"
    }else
    {
      current.will_buy="no"
    }
    stack.push(current)
  }
  populated_array[stack_name]=stack
}

populate_array('basic_needs')
populate_array('tools')
populate_array('random')

var app = angular.module('myApp', []);
app.controller('customersCtrl', function($scope, $http) {
    $scope.basic_needs = populated_array['basic_needs']
    $scope.tools = populated_array['tools']
    $scope.random = populated_array['random']

    $scope.basic_needs_resources = (initial_resources['basic_needs']).toFixed(2)
    $scope.tools_resources = (initial_resources['tools']).toFixed(2)
    $scope.random_resources = (initial_resources['random']).toFixed(2)
    $scope.basic_needs_percentage = (basic_needs_percentage*100).toFixed(2)
    $scope.tools_percentage = (tools_percentage*100).toFixed(2)
    $scope.random_percentage = (random_percentage*100).toFixed(2)
});
</script>
